@import '../../styles/variables.scss';

.errorBg{
    width: 100%;
    background-color: $error-red;
    color: rgb(255, 0, 0);
    padding: 0.6em 0.7em;
    border-left: 2px solid red;
    span{
        font-size: 0.9em;
        font-weight: 400;
    }
}