
@font-face {
    font-family: "Segoe UI - Apple";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/segoeui.ttf');
 }

*{
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Segoe UI - Apple , Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
 
}
h1, p, li{
  letter-spacing: 1px;
}

body{
  // background-image: url( '../public/images/bg-main.svg');
  background-color: rgb(243, 253, 255);
  

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.8);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
}


