*{
  margin: 0;
  padding: 0;
  font-family: "Segoe UI";
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
 
}
h1, p, li{
  letter-spacing: 1px;
}

body{
  background-image: url( '../public/images/bg-main.svg');

}
body::-webkit-scrollbar {
  display: none;
}

