.layoutBody{
    width: 100%;
    height: 100vh;
    display: flex;
    .content{
        width: 100%;
        .tableBody{
            padding: 1em 1em 0.5em 1em;
            // background-color: #03002704;
        }
    }
}