@import '../styles/variables.scss';

.body{
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 height: 100vh;

 .signinBox{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 440px;
    width: calc(100% - 40px);
    padding: 44px;
    margin-bottom: 28px;
    background-color: #fff;
    box-shadow: $shadow;
    min-width: 320px;
    min-height: 338px;
    overflow: hidden;

    form{
        .logo{
            display: flex;
            align-items: center;
            font-size: 2em;
            margin-bottom: 0.6em;
            color: rgb(86, 86, 86);
            span{
                margin-left: 0.17em;
                font-size: 0.62em !important;
               
                font-weight: 500;
            }
        }
        p{
            font-size: 1.5em;
            font-weight: 500;
            margin-bottom: 0.4em;
        }
        .showContainer{
            position: relative;
            .showIcon{
                font-size: 1.4em;
                color: rgb(86, 86, 86);
                position: absolute;
                right: 1.5%;
                top: 32%;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        input{
            width: 100%;
            border: 0;
            border-bottom: 1px solid black;
            outline: none;
            padding: 0.6em 0;
            margin: 1em 0;
            font-size: 0.85em;
            &::placeholder{
                font-size: 1.1em;
                font-weight: 400;
            }
            &:focus{
                background-color: #E8F0FE;
                border-bottom: 1px solid #115de0;
                &::placeholder{
                    color: black;
                }
            }
        }

        .createAcc{
            display: flex;
            align-items: center;
            margin: 1em 0;
            font-size: 0.85em;
            a{
                margin-left: 0.3em;
                font-size: 1em;
            }
        }
        .btnContainer{
            width: 100%;
            display: flex;
           justify-content: flex-end;
            width: auto;
            .btn{
                border: 0;
                background-color: $blue;
                color: white;
                width: auto;
                padding: 0.7em 2.2em;
                font-size: 0.93em;
                font-weight: 400;
                &:hover{
                    cursor: pointer;
                    background-color: $blue-blacker;
                }
            }
        }
       
    }
 }
}