@import '../../styles/variables.scss';

.recordsBg{
    width: 100%;
    height: 88.5vh;
    box-shadow: $shadow;
    background-color: white;
    overflow: hidden;
    padding: 0 1em;


    .tableMenu{
        margin-top: 1em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: 835px) {
            &{
                font-size: 0.8em;
            }
          }
        p{
            font-weight: 600;
            font-size: 1em;
            letter-spacing: 1px;

        }
        .menuContainer{
            display: flex;
            align-items: center;
            
            input{
                border: 1px solid black;
            
                padding: 0.2em 0.5em;
                margin: 0 0.3em;
                font-weight: 600;
                text-transform: uppercase;
                &:focus{
                    outline: none;
                }
            }
           
            .search{
                display: flex;
                align-items: center;
                position: relative;
                input{
                    padding-right: 1.7em;
                    text-transform: uppercase;
                }
                .searchIcon{
                    font-size: 1.1em;
                    position: absolute;
                    right: 5%;
                    &:hover{
                       cursor: pointer;
                    }
                }
            }
         
        }
    }

    ul{
        margin: 0.7em 0 0.2em 0;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.8);   
        
        li{
            width: 100%;
            font-weight: 700;
            letter-spacing: unset;  
            text-align: center;
            color: white;
            padding: 0.5em 0;
            text-transform: initial;
            @media screen and (max-width: 835px) {
                &{
                    font-size: 0.7em;
                }
              }
            &:hover{
            
                cursor: pointer;
                background-color: black;
            }
        }
    }



    table{
       display: flex;
       flex-direction: column;
       text-transform: uppercase;
       overflow: auto;
       width: 100%;
       height: 74vh;
       padding-top: 0.3em;
       @media screen and (max-width: 835px) {
        &{
            font-size: 0.8em;
        }
      }
       tbody{
        .grey{
            background-color: rgb(240, 240, 240);
        }
        tr{
            position: relative;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            td{
                width: 100%;
                text-align: center;
            }

            td{
                margin: 0.5em 0;
            }
        }

        
       }
    }
}