@import '../../styles/variables.scss';

.successBg{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 7%;
    left: 45%;
    background-color: white;
    width: auto;
    font-weight: bold;
    font-size: 1.15em;
    padding: 1em 0.7em;
    box-shadow: $shadow;
    border-left: 0.3em solid green;
    color: green;
    span{
        margin: 0 0.3em;
    }
}