@import '../../styles/variables.scss';

.revenueBg{
    width: 100%;
    height: 88.5vh;
    box-shadow: $shadow;
    background-color: white;
    overflow: hidden;
    padding-bottom: 3em;

    .title{
        background-color: $dark;
        color: white;
        padding: 0.8em 1.5em;
        font-weight: 600;
        font-size: 1em;
        letter-spacing: 1px;
    }
    .container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        padding: 1em;
        .menu{
            width: 70%;
            height: 100%;
            margin: 0  1em;
            
            label{
                display: block;
                margin: 1em 0;
                font-weight: 600;
            }
            input, select{
                border: 1px solid black;
                padding: 1em;
                width: 100%;
                font-size: 0.85em;
                text-transform: uppercase;
                font-weight: 500;
            }
            option{
                font-size: 1em;
                text-transform: uppercase;
                font-weight: 500;
            }
            .chart{
                width: 100%;
                height: 100%;
                position: relative;
                .pie{
                    position: absolute;
                    top: 0;
                    left: 2%;
                    width: 100% !important;
                    height: 25em!important;
                    border: 0 !important;
                    margin: 0 !important;
                    font-weight: 600;
                    font-size: 1em;
                }
            }
        }
        .result{
            position: relative;
            padding: 1em;
            margin: 0 1em;
            width: 100%;
            height: 100%;
            font-weight: 600;
            .separator{
                position: absolute;
                width: 1px;
                background-color: rgb(225, 225, 225);
                height: 100%;
                left: -1%;
                bottom: 0;
            }
            p{
                text-align: center;
                font-weight: bold;
                margin-bottom: 1em;
            }
            .total{
                font-weight: 600;
                font-size: 1.3em;
                span{
                    font-weight: 600;
                    display: inline;
                    color: rgb(0, 179, 0);
                }
            }
            ul{
                li{
                    margin-top: 1em;
                  
                    span{
                        font-weight: initial;
                        text-transform: uppercase;
                        display: block;
                        margin-top: 0.3em;
                        
                    }
                }
             
                hr{
                    margin: 1em 0 0 0;
                }

                .formula{
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    text-transform: capitalize;
                    background-color: rgb(246, 246, 246);
                    padding: 0.8em 1em;
                    font-weight: 100;
                    font-size: 1em;
                    b{
                        text-transform: lowercase;
                    }
                }
            }
           
            .btn{
                display: flex;
                justify-content: flex-end;
                width: 100%;
                position: absolute;
                bottom: 0;
                right: 1%;
              p{
                background-color: $blue;
                color: white;
                font-weight: 600;
                padding: 0.9em 1.5em;
                display: flex;
                align-items: center;
                justify-content: center;
                span{
                    margin-left: 0.5em;
                }
                &:hover{
                    cursor: pointer;
                    background-color: $blue-blacker;
                }
              }
            }


        }
    }
}

.print {
    display: none;   
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    .printContent{
        .header{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            font-size: 1.2em;
            margin-top: 1em;
            img{
                position: absolute;
                left: 0;
                top: 0;
                width: 5em;
                height: auto;
            }
            span{
                margin-left: 1em;
                text-align: center;
             p {
                &:last-child{
                    font-weight: bold;
                }
             }
            }
        }
        .mainContent{
            text-transform: uppercase !important;
            margin-top: 3em;
            
            .textBg{
                position: absolute;
                top: 65%;
                left: 15%;
                opacity: 7%;
                font-size: 5em;
                color: red;
                font-weight: bolder;
                border-top: 0.2em double red;
                border-bottom: 0.2em double red;
                padding: 0;
                font-family: Arial, Helvetica, sans-serif;
                letter-spacing: 5px;
                transform: rotate(35deg);
            }
            
            .information{
                display: flex;
                justify-content: space-between;
                text-transform: initial;
                margin-top: 4em;
                margin-bottom: 2em;
                p{
                    font-weight: 600;
                    span{
                        font-weight: initial;
                    }
                }
                .address{
                    display: flex;
                    flex-direction: column;
                }
                .contact{
                    display: flex;
                    flex-direction: column;
                }
            }
            h2{
                width: 100%;
                text-align: center;
                border-bottom: 1px double black;
                border-top: 1px double black;
                font-family: 'Times New Roman', Times, serif;
                padding: 0.2em 0;
            }
            h3{
                margin-bottom: 0.5em;
                font-weight: 600;
            }
            .companyInfo{
                display: flex;
                justify-content: space-between;
                margin: 2em 0;
                text-transform: initial;
                .billTo{
                    display: flex;
                    flex-direction: row;
                    p{
                        margin-right: 0.5em;
                        font-weight: 600;
                    }
                }
                .datetime{
                    display: flex;
                    flex-direction: column;
                    p{
                        font-weight: 600;
                        span{
                            font-weight: initial;
                        }
                    }
                }
            }
            .table{
                width: 100%;
                .tableheader{
                    text-transform: initial;
                    font-size: 0.95em;
                    padding: 0.3em 0;
                    margin: 0.4em 0;
                    ul{
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        text-align: center;
                        width: 100%;
                        border: 1px solid black;
                        li{
                         width: 100%;
                         text-align: center;
                         padding: 0.2em 0;
                        }
                    }
                }
                ul{
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    text-align: center;
                    width: 100%;
                    li{
                     width: 100%;
                     text-align: center;
                     padding: 0.2em 0;
                    }
                }
                .line{
                    border-bottom: 1px dotted black; 
                    width: 90%;
                    margin: 1em 3em;
                }
                .line2{
                    border-bottom: 1px solid rgb(220, 220, 220); 
                    width: 100%;
                    margin-top: 3em;
                }
                .total{
                    display: flex;
                    justify-content: flex-end;
                    width: 100%;
                    padding-right: 2em;
                    p{
                        font-weight: 600;
                        margin-right: 1em;
                    }
                }
            }
            .contactInfo{
                margin-top: 1em;
                margin-left: 1em;
                text-transform: initial;
                font-weight: 400;
                
                ul{
                    
                    li{
                        line-height: 1.5em;
                    }
                }
                b{
                    font-weight: 600;
                }
            }
        }
    }

}
@media print {
    .print {
       display: block;
    }
}