@import '../../styles/variables.scss';

.hide{
    display: none !important;
}

.contentBg{
    width: 100%;
    height: 88.5vh;
    box-shadow: $shadow;
    background-color: #ffffff;
    overflow: hidden;

    .darkBg{
        background-color: $dark;
        color: white;
    }

    .cardMenu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.8em 1em; 
        
        @media screen and (max-width: 835px) {
            &{
                font-size: 0.8em;
            }
          }

        p{
            font-weight: 600;
            font-size: 1em;
            letter-spacing: 1px;
            margin-left: 0.7em;
        }

        .menuContainer{
            display: flex;
            align-items: center;
            .viewContainer{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 0.5em;
                font-size: 1.5em;
                &:hover{
                    cursor: pointer;
                }
                .cardView{
                    transform: rotate(90deg);
                }
            }
            input{
                border: 1px solid black;
                padding: 0.3em 0.5em;
                margin: 0 0.3em;
                font-weight: 600;
                text-transform: uppercase;
                &:focus{
                    outline: none;
                }
            }
           
            .search{
                display: flex;
                align-items: center;
                position: relative;
                input{
                    padding-right: 1.7em;
                    text-transform: uppercase;
                }
                .searchIcon{
                    font-size: 1.1em;
                    position: absolute;
                    right: 5%;
                    &:hover{
                       cursor: pointer;
                    }
                }
            }
         
        }
    }

    .cardBg{
        width: 100%;
        height: 80vh;
        padding: 1em;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        overflow-y: auto;

        .rtmi{
            background-color: rgb(238, 0, 0);
            background-image: url('../../public/images/rural-transit-bg.png');
            color: white;
        }
        .superfive{
            background-color: white;
            background-image: url('../../public/images/superfive-bg.png');
            color: black;
        }

        .card{
            display: flex;
            flex-direction: column;
            margin: 0.3em;  
            width: 192px;
            height: 280px;
            box-shadow: $shadow;
            border-radius: 0.9em;
            transition: transform .2s;
            transform-style: preserve-3d;
            padding: 1em;
            box-shadow: 0 2px 6px rgb(0 0 0 / 40%);
            font-size: 0.8em;

            &:hover{
                transform: scale(1.1);
                z-index: 2;
                cursor: pointer;
            }   

            .number{
                font-size: 1em;
                font-weight: 600    ;
            }
            .company{
                    font-weight: 600;
                    font-size: 1.3em;
                    margin-top: 0.7em;
                    margin-bottom: 2em;
                    text-transform: initial;
                    text-align: center;
            }

            p{
                    display: inline;
                    font-weight: initial;
                    text-transform: uppercase;
            }
            
            span{
                    
                    font-weight: 600;
                    margin-bottom: 0.3em;
                    font-size: 0.95em;
            }
            
        }
    }

    .TableView{
    padding: 0 1em;
    ul{
        margin: 0.7em 0 0.2em 0;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.8);   
        
        li{
            width: 100%;
            font-weight: 700;
            letter-spacing: unset;  
            text-align: center;
            color: white;
            padding: 0.5em 0;
            text-transform: initial;
            @media screen and (max-width: 835px) {
                &{
                    font-size: 0.7em;
                }
              }
            &:hover{
                cursor: pointer;
                background-color: black;
            }
        }
    }



    table{
       display: flex;
       flex-direction: column;
       text-transform: uppercase;
       overflow: auto;
       width: 100%;
       height: 74vh;
       padding-top: 0.3em;
       @media screen and (max-width: 835px) {
        &{
            font-size: 0.8em;
        }
      }
       tbody{
        .grey{
            background-color: rgb(240, 240, 240);
        }
        tr{
            position: relative;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            &:hover{
                font-weight: 500;
                background-color: rgb(242, 248, 255);
                cursor: pointer;
            }
            td{
                width: 100%;
                text-align: center;
            }

            td{
                margin: 0.5em 0;
            }
        }

        
       }
    }
    }
   
}





.promptBg{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 3;
    .prompt{
        background-color: white;
        box-shadow: $shadow;
        padding: 1em;
        font-weight: 600;
    
        h1{
            font-size: 1.15em;
           margin-right: 0.6em;
        }
       h5{
        font-size: 1em;
        font-weight: 400;
        margin: 1.3em 8em 0 1.5em;
       }
        .btnContainer{
            display: flex;
            justify-content: flex-end;
            p{
                font-weight: 600;
                padding: 0.5em 1.5em;
                margin-top: 1.5em;
                cursor: pointer;
                &:last-child:hover{
                    background-color: $blue;
                    color: white;
                }

                &:first-child:hover{
                    background-color: red;
                    margin-right: 0.3em;
                    color: white;
                   
                }
              
            }
        }
    }
}

.editBg{
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.725);
    z-index: 2;
    .form{
        position: relative;
        background-color: white;
        box-shadow: $shadow;
        width: 30em;
        height: auto;
        padding: 1.8em;
    
        z-index: 2;
        .exit{
            position: absolute;
            right: 1.5%;
            top: 2%;
            font-weight: bolder !important;
            font-size: 2em;
            &:hover{
                cursor: pointer;
                background-color: red;
                color: white;
            }
        }
        .formBox{
            width: 100%;
            h1{
                margin-bottom: 0.6em;
                font-size: 1.8em;
            }
        
            .errorBox{
                margin-bottom: 1em !important;
            }
        
              
            .cardID{
                color: $blue;
                padding-left: 0.5em;
                border: 0;
                border-left: 2px solid $blue;
            }
        

        
            label{
                display: block;
            }
        
           
            .help{
                position: absolute;
                right: 7.5%;
                top: 30.1%;
                font-size: 1.1em;
                color: rgba(0, 0, 0, 0.3);
                font-weight: lighter;
                &:hover{
                    cursor: pointer;
                    color: black;
                }
            }
        
            input{
                    text-transform: uppercase;
                    width: 100%;
                    border: 0;
                    border-bottom: 1px solid black;
                    outline: none;
                    padding: 0.6em 0;
                    margin: 1em 0;
                    font-size: 0.85em;
                    font-weight: bold;
                    &::placeholder{
                        font-size: 1.1em;
                        font-weight: 400;
                    }
                    &:focus{
                        background-color: #E8F0FE;
                        border-bottom: 1px solid #115de0;
                        &::placeholder{
                            color: black;
                        }
                    }
            }
        
            select{
                cursor: pointer;
                text-transform: uppercase;
                font-weight: bold;
                width: 60%;
                font-size: 0.85em;
                margin: 1em 0;
                padding: 0.7em;
                background-color: white;
                option{
                    font-weight: bold;
                }
            }
        
            .btnContainer{
                width: 100%;
                display: flex;
                justify-content: flex-end;
                width: auto;
             
                .update{
                    text-transform: initial;
                    width: 6.5em !important;
                    border: 0;
                    background-color: $blue;
                    color: white;
                    width: auto;
                    text-align: center;
                    padding: 0.7em 0;
                    font-size: 0.93em;
                    font-weight: 500;
                    margin: 1em 0 0 1em;

                    &:hover{
                        cursor: pointer;
                        background-color: $blue-blacker;
                    }
                }
                .remove{
                        text-transform: initial;
                        width: 6.5em !important;
                        border: 0;
                        background-color: red;
                        color: white;
                        width: auto;
                        text-align: center;
                        padding: 0.7em 0;
                        font-size: 0.93em;
                        font-weight: 500;
                        margin: 0;
                        margin-top: 1em;
                        &:hover{
                            cursor: pointer;
                            background-color: rgb(184, 0, 0);
                        }
                }
            }
        }
    }
}