@import '../../styles/variables.scss';

.hide{
    display: none !important;
}
.tableBg{
    width: 100%;
    height: 88.5vh;
    box-shadow: $shadow;
    background-color: white;
    overflow: auto;
    padding: 0 1em;
    border-radius: 0.3em;


    .tableMenu{
        padding: 0.8em 0.5em 0.2em 0.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        justify-content: space-between;

        p{
            font-size: 1.3em;
           
        }
        select{
            padding: 0.1em 0.3em;
            background-color: white;
            border-radius: 0.2em;
            option{
                font-weight: bold;
            }
        }
        input{
            text-transform: uppercase;
            border: 1px solid rgba(0, 0, 0, 0.8)!important;
            padding: 0.1em 0.3em;
            border-radius: 0.2em;
            &:focus{
                background-color: #E8F0FE;
                border-bottom: 1px solid #115de0;
                &::placeholder{
                    color: black;
                }
            }
        }

        .search{
            display: flex;
            align-items: center;
            justify-content: center;
            input{
                margin-right: 0.6em;
            }
            &:last-child:hover{
                cursor: pointer;
            }
        }
    }
    table{
       display: flex;
       flex-direction: column;
       text-transform: uppercase;
       @media screen and (max-width: 835px) {
        &{
            font-size: 0.8em;
        }
      }
       tbody{
        .tableHead{
            margin: 0.7em 0 0.2em 0;
        }

        th{
            background-color: rgba(0, 0, 0, 0.8);
            color: white;
            padding: 0.5em 0;
            text-transform: initial;
            &:first-child{
                border-radius: 0.3em 0 0 0.3em;
            }
            &:last-child{
                border-radius:  0 0.3em 0.3em 0 ;
            }
        }

        tr{
            position: relative;
          

            display: flex;
            justify-content: space-evenly;
            align-items: center;

            td, th{
                width: 100%;
                text-align: center;
               
            }

            td{
                margin: 0.5em 0;
            }

            
           }
       }
    }
   
}

.editBtn{
    width: 100%;
    height: 2.1em;
    position: absolute;
    right: 0;
    display: flex;
    align-items: flex-start;
    align-items: center;
    padding: 0.7em;
    font-size: 1.2em;
    color: $blue;
    p{
        display: none;
    }
    &:hover{
        cursor: pointer;
        background-color: $light-blue;
        p{
            display: block;
        }
    }
}

.deleteBtn{
    width: 100%;
    height: 2.1em;
    position: absolute;
    right: 0;
    display: flex;
    align-items: flex-start;
    align-items: center;
    padding: 0.7em;
    font-size: 1.2em;
    color: red;
    p{
        display: none;
    }
    &:hover{
        cursor: pointer;
        background-color: $error-red;
        p{
            display: block;
        }
    }
}

.promptBg{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 3;
    .prompt{
        background-color: white;
        box-shadow: $shadow;
        padding: 1em;
        font-weight: 600;
        border-radius: 0.3em;
        h1{
            font-size: 1.15em;
           margin-right: 0.6em;
        }
       h5{
        font-size: 1em;
        font-weight: 400;
        margin: 1.3em 8em 0 1.5em;
       }
        .btnContainer{
            display: flex;
            justify-content: flex-end;
            p{
                font-weight: 600;
                padding: 0.5em 1.5em;
                margin-top: 1.5em;
                cursor: pointer;
                &:last-child:hover{
                    background-color: $blue;
                    color: white;
                }

                &:first-child:hover{
                    background-color: red;
                    margin-right: 0.3em;
                    color: white;
                   
                }
              
            }
        }
    }
}

.editBg{
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.725);
    z-index: 2;
    .form{
        position: relative;
        background-color: white;
        box-shadow: $shadow;
        width: 30em;
        height: auto;
        padding: 1.8em;
        border-radius: 0.3em;
        z-index: 2;
        .exit{
            position: absolute;
            right: 1.5%;
            top: 2%;
            font-weight: bolder !important;
            font-size: 2em;
            &:hover{
                cursor: pointer;
                background-color: red;
                color: white;
            }
        }
        .formBox{
            width: 100%;
            h1{
                margin-bottom: 0.6em;
                font-size: 1.8em;
            }
        
            .errorBox{
                margin-bottom: 1em !important;
            }
        
              
            .cardID{
                color: $blue;
                padding-left: 0.5em;
                border: 0;
                border-left: 2px solid $blue;
            }
        

        
            label{
                display: block;
            }
        
           
            .help{
                position: absolute;
                right: 7.5%;
                top: 30.1%;
                font-size: 1.1em;
                color: rgba(0, 0, 0, 0.3);
                font-weight: lighter;
                &:hover{
                    cursor: pointer;
                    color: black;
                }
            }
        
            input{
                    text-transform: uppercase;
                    width: 100%;
                    border: 0;
                    border-bottom: 1px solid black;
                    outline: none;
                    padding: 0.6em 0;
                    margin: 1em 0;
                    font-size: 0.85em;
                    font-weight: bold;
                    &::placeholder{
                        font-size: 1.1em;
                        font-weight: 400;
                    }
                    &:focus{
                        background-color: #E8F0FE;
                        border-bottom: 1px solid #115de0;
                        &::placeholder{
                            color: black;
                        }
                    }
            }
        
            select{
                cursor: pointer;
                text-transform: uppercase;
                font-weight: bold;
                width: 60%;
                font-size: 0.85em;
                margin: 1em 0;
                padding: 0.7em;
                background-color: white;
                option{
                    font-weight: bold;
                }
            }
        
            .btnContainer{
                width: 100%;
                display: flex;
                justify-content: flex-end;
                width: auto;
             
                .btn{
                    text-transform: initial;
                    width: 6.5em !important;
                    border: 0;
                    background-color: $blue;
                    color: white;
                    width: auto;
                    text-align: center;
                    padding: 0.7em 0;
                    font-size: 0.93em;
                    font-weight: 500;
                    margin: 0;
                    margin-top: 1em;
                    &:hover{
                        cursor: pointer;
                        background-color: $blue-blacker;
                    }
                }
            }
        }
    }
}