@import '../../styles/variables.scss';


.sideBarContainer{
    height: 100vh;
    width: 20vw;
    background-color: rgba(0, 0, 0, 0.85);
    box-shadow: $shadow;
    color: white;
    display: flex;
    flex-direction: column;
  
    .menuIcon{ 
        margin-bottom: 1.5em;
        .icons{
            font-size: 1.5em;
           margin-left: 0.5em;
           margin-top: 0.8em;
           &:hover{
            cursor: pointer;
           
        }
        }
    }
    .menuContainer{
        li{
            padding:  0 2em;
            border-bottom: 1px solid #2d2d36;
            font-size: 0.85em;
            font-weight: 600;
            padding: 1.3em 0;
            display: flex;
            align-items: center;
            &:hover{
                cursor: pointer;
                background-color: #00000075;
            }
            .icons{
                font-size: 1.8em !important;
                margin: 0 0.5em;
            }

            
            
        }
        .choices{
            padding-left: 2.3em;
            border-bottom: 1px solid #2d2d36;
            ul, li{
                border: 0;
            }
        }
    }
    @media screen and (max-width: 1200px) {
        &{
            position: absolute;
            width: 15em;
            z-index: 2;
            background-color: rgba(0, 0, 0, 0.85);
        }
      }
}